<div  ng-controller="MenuController as vm" ng-show="vm.showMenu">

<div id="wrapper">
  <div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">{{vm.name}}</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{vm.profile.name}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a ng-href="#/profile"><i class="fa fa-fw fa-user"></i> Perfil</a>
                </li>
                <li ng-if="vm.rol=='1' || vm.rol=='2'">
                    <a ng-href="#/mensajes"><i class="fa fa-fw fa-inbox"></i> Mensajes</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ng-click="vm.logout()"><i class="fa fa-fw fa-power-off"></i> Salir</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a ng-href="#/"><i class="fa fa-home"></i> Inicio</a>
            </li>
            <!--Miscelaneos -->
            <li ng-if="vm.rol=='1' || vm.rol=='2'">
              <a ng-click="vm.miscelaneoOpen=!vm.miscelaneoOpen">
                <i class="fa fa-gear"></i> Miscelaneos
                <span ng-if="vm.miscelaneoOpen==false" style="padding-left: 78px;" class="fa fa-caret-right"></span>
                <span ng-if="vm.miscelaneoOpen==true" style="padding-left: 78px;" class="fa fa-caret-down"></span>
              </a>
              <ul ng-if="vm.miscelaneoOpen==true">
                <li class="left18">
                    <a ng-href="#/bank"><i class="fa fa-university"></i> Bancos</a>
                </li>
                <li class="left18">
                    <a ng-href="#/client"><i class="fa fa-user" style="font-size: 22px;"></i> Clientes</a>
                </li>
                <li class="left18">
                    <a ng-href="#/cuentas"><i class="fa fa-university" style="font-size: 15px;"></i> Cuentas</a>
                </li>
                <li class="left18">
                    <a ng-href="#/product"><i class="fa fa-cart-plus" style="font-size: 18px;"></i> Productos</a>
                </li>
                <li class="left18">
                    <a ng-href="#/promociones"><i class="fa fa-desktop" style="font-size: 18px;"></i> Promociones</a>
                </li>
                <li class="left18">
                    <a ng-href="#/provider"><i class="fa fa-handshake-o"></i> Proveedores</a>
                </li>
                <li ng-if="vm.rol=='1'" class="left18">
                    <a ng-href="#/user"><i class="fa fa-users" style="font-size: 18px;"></i> Usuarios</a>
                </li>
              </ul>
            </li>
            <!--Facturacion-->
            <li>
              <a ng-click="vm.facturacionOpen=!vm.facturacionOpen">
                <i class="fa fa-list-ul"></i> Facturación
                <span ng-if="vm.facturacionOpen==false" style="padding-left: 80px;" class="fa fa-caret-right"></span>
                <span ng-if="vm.facturacionOpen==true" style="padding-left: 80px;" class="fa fa-caret-down"></span>
              </a>
              <ul ng-if="vm.facturacionOpen==true">
                <li class="left18">
                      <a ng-href="#/sell"><i class="fa fa-shopping-cart"></i> Vender</a>
                </li>
                <li class="left18">
                    <a ng-href="#/facturaVenta"><i class="fa fa-list-ul"></i> Facturas de Venta</a>
                </li>
                <li class="left18">
                      <a ng-href="#/receivable"><i class="fa fa-credit-card"></i> Cuentas por cobrar</a>
                </li>
              </ul>
            </li>
            <!--Inventario-->
            <li>
              <a ng-click="vm.inventarioOpen=!vm.inventarioOpen">
                <i class="fa fa-align-justify"></i> Inventario
                <span ng-if="vm.inventarioOpen==false" style="padding-left: 92px;" class="fa fa-caret-right"></span>
                <span ng-if="vm.inventarioOpen==true" style="padding-left: 92px;" class="fa fa-caret-down"></span>
              </a>
              <ul ng-if="vm.inventarioOpen==true">
                <li class="left18">
                    <a ng-href="#/buy"><i class="fa fa-money"></i> Comprar</a>
                </li>
                <li class="left18">
                    <a ng-href="#/facturaCompra"><i class="fa fa-align-justify"></i> Facturas de Compra</a>
                </li>
                <li class="left18">
                    <a ng-href="#/payable"><i class="fa fa-credit-card-alt"></i> Cuentas por pagar</a>
                </li>
              </ul>
            </li>
            <!--Contabilidad-->
            <li>
              <a ng-click="vm.contabilidadOpen=!vm.contabilidadOpen">
                <i class="fa fa-align-justify"></i> Contabilidad
                <span ng-if="vm.contabilidadOpen==false" style="padding-left: 76px;" class="fa fa-caret-right"></span>
                <span ng-if="vm.contabilidadOpen==true" style="padding-left: 76px;" class="fa fa-caret-down"></span>
              </a>
              <ul ng-if="vm.contabilidadOpen==true">
              <!--  <li class="left18">
                      <a ng-href="#/gestionCuentas"><i class="fa fa-credit-card"></i> Cuentas Bancarias</a>
                </li> -->
                <li class="left18">
                      <a ng-href="#/receivable"><i class="fa fa-credit-card"></i> Cuentas por cobrar</a>
                </li>
                <li class="left18">
                    <a ng-href="#/payable"><i class="fa fa-credit-card-alt"></i> Cuentas por pagar</a>
                </li>
                <li class="left18">
                    <a ng-href="#/impuestoRenta"><i class="fa fa-credit-card-alt"></i> Impuesto Renta</a>
                </li>
                <li class="left18">
                    <a ng-href="#/pagoAlcaldia"><i class="fa fa-credit-card-alt"></i> Impuesto Alcaldia</a>
                </li>
                <li class="left18">
                    <a ng-href="#/gananciasPerdidas"><i class="fa fa-credit-card-alt"></i> Compras y ventas</a>
                </li>
              </ul>
            </li>
            <!--Reportes -->
            <li ng-if="vm.rol=='1' || vm.rol=='2'">
              <a ng-click="vm.reportOpen =!vm.reportOpen">
                <i class="fa fa-area-chart"></i> Reportes
                <span ng-if="vm.reportOpen==false" style="padding-left: 94px;" class="fa fa-caret-right"></span>
                <span ng-if="vm.reportOpen==true" style="padding-left: 94px;" class="fa fa-caret-down"></span>
              </a>
              <ul ng-if="vm.reportOpen==true">
                <li class="left18">
                    <a ng-href="#/masVendido"><i style="color:blue;" class="fa fa-bar-chart"></i> Productos más vendidos</a>
                </li>
                <li class="left18">
                    <a ng-href="#/masComprado"><i style="color:red;" class="fa fa-bar-chart"></i> Productos más comprados</a>
                </li>
                <li class="left18">
                    <a ng-href="#/clienteActivo"><i style="color:green;" class="fa fa-bar-chart"></i> Clientes destacados</a>
                </li>
                <li class="left18">
                    <a ng-href="#/proveedorActivo"><i style="color:yellow;" class="fa fa-bar-chart"></i> Proveedores destacados</a>
                </li>
              </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    </nav>
  </div>
</div>
</div>
