.login {
  margin-top: 20%;
  margin-left: 30%;
  margin-right: 35%;
}

.panel-login {
  margin-top: 0px!important;
  margin-left: 0px!important;
  margin-bottom: 0px!important;
  min-height: 700px;
}

.background-login {
  background-image: url('images/beach.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.table-large {
  min-height: 450px;
}

.width70 {
  max-width: 70px !important;
}

.profile-form {
  margin-right: 21% !important;
  margin-top: 5px;
  min-height: 400px!important;
}

.pull-right {
  float: right;
}

.status-active {
  background-color: #5cb85c;
  width: 100px;
  color: white;
  padding-left: 24px;
}


.status-inactive {
  background-color: #c9302c;
  width: 100px;
  color: white;
  padding-left: 21px;
}

.right20 {
    margin-left: 20px ! important;
}

.left12 {
  margin-left: -12px !important;
}

.font25 {
  font-size: 25px !important;
}

.font40 {
  font-size: 40px !important;
}

.font30 {
  font-size: 30px !important;
}

/*UP*/
.up5 {
  margin-top: -5px;
}


.up10 {
  margin-top: -10px;
}

.up15 {
  margin-top: -15px;
}
.up20 {
  margin-top: -20px;
}

.down5 {
  margin-top: 5px;
}

.down10 {
  margin-top: 10px;
}

.border-bottom1 {
  border-bottom: 2px solid gray;
  padding-bottom: 8px;
}

.border-top1 {
  border-top: 2px solid gray !important;
}

.border-right1 {
  border-right: 2px solid gray;
}

/*Backgroud*/
.back-cadetblue {
  background-color: cadetblue !important;
}

.green {
  color: green;
}

.btn-sell {
  width: 50px !important;
  height: 40px !important;
}
