<div ng-if="vm.status=='crear'">
  <div class="modal-header">
      <Label>Crear Cliente</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
<form ng-submit="vm.save()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <label>Cédula o Rif <span class="red">*</span></label>
          <div class="row">
              <div class=col-md-4>
                <select class="form-control" ng-model="vm.client.tipo" ng-options="type.name as type.sigla for type in vm.ListType" required>
                  <option>type.sigla</option>
                </select>
              </div>
              <div class ="col-md-9" style="margin-left: -25px;">
                <input type="text" ng-model="vm.client.cedula" ng-change="vm.changeCedula()" class="form-control" minlength="5" maxlength="9" required ng-keypress="vm.solonumeros($event)"/>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <label>Nombre <span class="red">*</span></label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.client.name" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Apellido <span class="red">*</span></label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.client.apellido" required/>
        </div>
        <div class="col-md-6">
          <label>Teléfono</label>
          <input type="text" class="form-control" ng-model="vm.client.telefono" maxlength="14" ng-keypress="vm.solonumeros($event)"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Dirección: </label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.client.direccion"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-md-6">
        <label> (<span class="red">*</span>) campos obligatorios </label>
      </div>
      <button ladda="vm.isloading" type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>

<!--Ver Usuario-->
<div ng-if="vm.status=='ver'">
  <div class="modal-header">
      <Label>Información del Cliente</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
          <label>Nombre:</label> <label>{{vm.client.name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Cédula:</label> <label>{{vm.client.cedula}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Dirección:</label> <label>{{vm.client.direccion}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Teléfono:</label> <label>{{vm.client.telefono}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Fecha de Registro:</label> <label>{{vm.client.created_at}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Ultima actualización:</label> <label>{{vm.client.updated_at}}</label>
      </div>
    </div>
  </div>
</div>

<!--Actualizar cliente-->
<div ng-if="vm.status=='actualizar'">
  <div class="modal-header">
      <Label>Actualizar Cliente</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <form ng-submit="vm.save()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <label>Cédula o Rif <span class="red">*</span></label>
          <div class="row">
              <div class=col-md-4>
                <select class="form-control" ng-model="vm.client.tipo" ng-options="type.nombre as type.sigla for type in vm.ListType" required>
                  <option>type.sigla</option>
                </select>
              </div>
              <div class ="col-md-9" style="margin-left: -25px;">
                <input type="text" ng-model="vm.client.cedula" ng-change="vm.changeCedula()" class="form-control" minlength="5" maxlength="9" required ng-keypress="vm.solonumeros($event)"/>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <label>Nombre <span class="red">*</span></label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.client.name" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Apellido <span class="red">*</span></label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.client.apellido" required/>
        </div>
        <div class="col-md-6">
          <label>Teléfono</label>
          <input type="text" class="form-control" ng-model="vm.client.telefono" maxlength="14" ng-keypress="vm.solonumeros($event)"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Dirección: </label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.client.direccion"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-md-6">
        <label> (<span class="red">*</span>) campos obligatorios </label>
      </div>
      <button ladda="vm.isloading" type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>

<div ng-if="vm.status=='buscar'">
  <div class="modal-header">
      <Label>Elegir un Cliente</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" style="min-height:350px;">
    <div class="row" ng-if="vm.isloading==false">
      <div class="col-md-3">
          <input type="text" placeholder="Buscar" ng-model="vm.search" class="form-control down10" maxlength="12"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center" style="font-size:60px" ng-if="vm.isloading==true">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
      <div class="col-md-12 modalSearch" ng-if="vm.isloading==false">
        <table class="table table-striped">
          <thead>
            <tr>
               <th>Nombre</th>
               <th>Apellido</th>
               <th>Cédula/Rif</th>
               <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="cliente in vm.listaClientes | filter:vm.search">
              <td>{{cliente.name}}</td>
              <td>{{cliente.apellido}}</td>
              <td>{{cliente.cedula}}</td>
              <td>
                <button ng-click="vm.AddClient(cliente)" type="button" uib-tooltip="Agregar" class="btn btn-success">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
