<div ng-if="vm.status=='crear'">
  <div class="modal-header">
      <Label>Crear Usuario</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <form ng-submit="vm.save()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <label>Cédula <span class="red">*</span></label>
          <input type="text" ng-model="vm.user.cedula" ng-change="vm.changeCedula()" class="form-control" minlength="5" maxlength="9" required ng-keypress="vm.solonumeros($event)"/>
        </div>
        <div class="col-md-6">
          <label>Fecha de ingreso <span class="red">*</span></label>
          <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.user.start_date"
            is-open="vm.openDate"
            ng-required="true" close-text="Cerrar" required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-success" ng-click="vm.open_fecha_ingreso()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Nombre <span class="red">*</span></label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.user.name" required/>
        </div>
        <div class="col-md-6">
          <label>Email</label>
          <input type="email" class="form-control" maxlength="25" ng-model="vm.user.email"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Contraseña <span class="red">*</span></label>
          <input type="password" ng-model="vm.user.password" class="form-control" minlength="5" maxlength="14" required/>
        </div>
        <div class="col-md-6">
          <label>Confirmar Contraseña <span class="red">*</span></label>
          <input type="password" ng-model="vm.user.confirm_password" class="form-control" minlength="5" maxlength="14" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Teléfono</label>
          <input type="text" class="form-control" ng-model="vm.user.telefono" maxlength="14" ng-keypress="vm.solonumeros($event)"/>
        </div>
        <div class="col-md-6">
          <label>Seleccione un Rol <span class="red">*</span></label>
          <select class="form-control" ng-model="vm.user.role_id" ng-options="rol.id as rol.name for rol in vm.listaroles" required>
            <option>{{rol.name}}</option>
          </select> <!-- -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Dirección: </label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.user.direccion"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ladda="vm.isloading" type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>

<!--Ver Usuario-->
<div ng-if="vm.status=='ver'">
  <div class="modal-header">
      <Label>Información del Usuario</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
          <label>Nombre:</label> <label>{{vm.user.name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Cedula:</label> <label>{{vm.user.cedula}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Rol:</label> <label>{{vm.user.role_name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Email:</label> <label>{{vm.user.email}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Dirección:</label> <label>{{vm.user.direccion}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Teléfono:</label> <label>{{vm.user.telefono}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Fecha de Ingreso:</label> <label>{{vm.user.fecha_ingreso}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Ultima actualización:</label> <label>{{vm.user.updated_at}}</label>
      </div>
    </div>
  </div>
</div>

<!--Editar Usuario-->
<div ng-if="vm.status=='actualizar'">
  <div class="modal-header">
      <Label>Actualizar Usuario</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <form ng-submit="vm.save()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <label>Cédula <span class="red">*</span></label>
          <input type="text" ng-model="vm.user.cedula" ng-change="vm.changeCedula()" class="form-control" minlength="5" maxlength="9" required ng-keypress="vm.solonumeros($event)"/>
        </div>
        <div class="col-md-6">
          <label>Fecha de ingreso <span class="red">*</span></label>
          <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.user.start_date"
            is-open="vm.openDate"
            ng-required="true" close-text="Cerrar" required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-success" ng-click="vm.open_fecha_ingreso()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Nombre <span class="red">*</span></label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.user.name" required/>
        </div>
        <div class="col-md-6">
          <label>Email</label>
          <input type="email" class="form-control" maxlength="25" ng-model="vm.user.email"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Contraseña</label>
          <input type="password" ng-model="vm.user.password" class="form-control" minlength="5" maxlength="14"/>
        </div>
        <div class="col-md-6">
          <label>Confirmar Contraseña </label>
          <input type="password" ng-model="vm.user.confirm_password" class="form-control" minlength="5" maxlength="14"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Teléfono</label>
          <input type="text" class="form-control" ng-model="vm.user.telefono" maxlength="14" ng-keypress="vm.solonumeros($event)"/>
        </div>
        <div class="col-md-6">
          <label>Seleccione un Rol <span class="red">*</span></label>
          <select class="form-control" ng-model="vm.user.role_id" ng-options="rol.id as rol.name for rol in vm.listaroles" required>
            <option>{{rol.name}}</option>
          </select> <!-- -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Dirección: </label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.user.direccion"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ladda="vm.isloading" type="submit" class="btn btn-primary">Actualizar</button>
    </div>
  </form>
</div>
