
<div ng-if="vm.status=='crear'">
  <div class="modal-header">
      <Label>Crear Producto</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <form ng-submit="vm.save()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <label>Codigo <span class="red">*</span></label>
          <input type="text" ng-model="vm.product.codigo" class="form-control" maxlength="25" required ng-keypress="vm.solonumeros($event)"/>
        </div>
        <div class="col-md-6">
          <label>Nombre <span class="red">*</span></label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.product.nombre" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Precio de Costo <span class="red">*</span></label>
          <input type="text" class="form-control" ng-currency currency-symbol="Bs " ng-change="vm.changePrecio()" maxlength="25" ng-model="vm.product.precio_costo" ng-keypress="vm.solonumeros($event)"required/>
        </div>
        <div class="col-md-6">
          <label>Precio de Venta <span class="red">*</span></label>
          <input type="text" class="form-control" ng-currency currency-symbol="Bs " ng-change="vm.changePrecio()" maxlength="25" ng-model="vm.product.precio_venta" maxlength="14" ng-keypress="vm.solonumeros($event)" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Stock: </label>
          <input type="text" class="form-control" minlength="1" maxlength="25" ng-model="vm.product.stock" ng-keypress="vm.solonumeros($event)" readonly/>
        </div>
        <div class="col-md-6">
          <label>Stock Máximo: </label>
          <input type="text" class="form-control" minlength="1" maxlength="25" ng-model="vm.product.max_stock" ng-keypress="vm.solonumeros($event)"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Stock Mínimo: </label>
          <input type="text" class="form-control" minlength="1" maxlength="25" ng-model="vm.product.min_stock" ng-keypress="vm.solonumeros($event)"/>
        </div>
        <div class="col-md-6">
          <label>Marca</label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.product.marca"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Descripción</label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.product.descripcion"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ladda="vm.isloading" type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>

<div ng-if="vm.status=='ver'">
  <div class="modal-header">
      <Label>Información del Producto</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
          <label>Nombre:</label> <label>{{vm.product.nombre}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Codigo:</label> <label>{{vm.product.codigo}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Precio Costo:</label> <label>{{vm.product.precio_costo}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Precio Venta:</label> <label>{{vm.product.precio_venta}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Stock:</label> <label>{{vm.product.stock}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Stock Máximo:</label> <label>{{vm.product.max_stock}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Stock Mínimo:</label> <label>{{vm.product.min_stock}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Marca:</label> <label>{{vm.product.marca}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Descripcción:</label> <label>{{vm.product.descripcion}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Fecha de Registro:</label> <label>{{vm.product.created_at}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Ultima actualización:</label> <label>{{vm.product.updated_at}}</label>
      </div>
    </div>
  </div>
</div>

<!--Actualizar cliente-->
<div ng-if="vm.status=='actualizar'">
  <div class="modal-header">
      <Label>Actualizar Producto</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <form ng-submit="vm.save()">
    <div class="modal-body">
      <fieldset ng-disabled="vm.origin=='buy'">
        <div class="row">
          <div class="col-md-6">
            <label>Codigo <span class="red">*</span></label>
            <input type="text" ng-model="vm.product.codigo" ng-change="vm.changeCodigo()" class="form-control" minlength="2" maxlength="9" required ng-keypress="vm.solonumeros($event)"/>
          </div>
          <div class="col-md-6">
            <label>Nombre <span class="red">*</span></label>
            <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.product.nombre" required/>
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="col-md-6">
          <label>Precio Costo <span class="red">*</span></label>
          <input type="text" class="form-control" ng-currency currency-symbol="Bs "  ng-change="vm.changePrecio()" maxlength="25" ng-model="vm.product.precio_costo" required ng-keypress="vm.solonumeros($event)" required/>
        </div>
        <div class="col-md-6">
          <label>Precio Venta <span class="red">*</span></label>
          <input type="text" class="form-control" ng-currency currency-symbol="Bs "  ng-model="vm.product.precio_venta" ng-change="vm.changePrecio()" maxlength="25" ng-keypress="vm.solonumeros($event)" required/>
        </div>
      </div>
      <fieldset ng-disabled="vm.origin=='buy'">
        <div class="row">
          <div class="col-md-6">
            <label>Stock: </label>
            <input type="text" class="form-control" minlength="1" maxlength="25" ng-model="vm.product.stock" ng-keypress="vm.solonumeros($event)" readonly/>
          </div>
          <div class="col-md-6">
            <label>Stock Máximo: </label>
            <input type="text" class="form-control" minlength="1" maxlength="25" ng-model="vm.product.max_stock" ng-keypress="vm.solonumeros($event)"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Stock Mínimo: </label>
            <input type="text" class="form-control" minlength="1" maxlength="25" ng-model="vm.product.min_stock" ng-keypress="vm.solonumeros($event)"/>
          </div>
          <div class="col-md-6">
            <label>Marca</label>
            <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.product.marca"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Descripción</label>
            <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.product.descripcion"/>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <button ladda="vm.isloading" type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>

<!--echo por eduardo no borrar -->
<div ng-if="vm.status=='buscar'">
  <div class="modal-header">
      <Label>Elegir un Producto</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" style="min-height:350px;">
    <div class="row" ng-if="vm.isloading==false">
      <div class="col-md-3">
          <input type="text" placeholder="Buscar" ng-model="vm.search" class="form-control down10" maxlength="12"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center" style="font-size:60px" ng-if="vm.isloading==true">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
      <div class="col-md-12 modalSearch" ng-if="vm.isloading==false">
        <table ng-if="vm.products_number>0" class="table table-striped">
          <thead>
            <tr>
               <th>Nombre</th>
               <th>Codigo</th>
               <th ng-if="vm.origin.origin=='sell'">Precio venta</th>
               <th ng-if="vm.origin.origin=='buy'">Precio compra</th>
               <th>Stock</th>
               <th></th
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="producto in vm.listaProductos | filter:vm.search">
              <td>{{producto.nombre}}</td>
              <td>{{producto.codigo}}</td>
              <td ng-if="vm.origin.origin=='sell'">{{producto.precio_venta}}</td>
              <td ng-if="vm.origin.origin=='buy'">{{producto.precio_costo}}</td>
              <td>{{producto.stock}}</td>
              <td>
                <button ng-click="vm.AddProduct(producto)" ng-disabled="producto.stock<1 && vm.origin.origin!='buy'"  type="button" uib-tooltip="Agregar" class="btn btn-success">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <h2 ng-if="vm.products_number<1">No hay productos con esa descripción</h2>
      </div>
    </div>
  </div>
</div>
