<div ng-if="vm.status=='crear'">
  <div class="modal-header">
      <Label>Crear Proveedor</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
<form ng-submit="vm.save()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <label>Cédula o Rif <span class="red">*</span></label>
          <div class="row">
              <div class=col-md-4>
                <select class="form-control" ng-model="vm.provider.tipo" ng-options="type.nombre as type.sigla for type in vm.ListType" required>
                  <option>type.sigla</option>
                </select>
              </div>
              <div class ="col-md-9" style="margin-left: -25px;">
                <input type="text" ng-model="vm.provider.rif" ng-change="vm.changeRif()" class="form-control" minlength="5" maxlength="9" required ng-keypress="vm.solonumeros($event)"/>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <label>Nombre <span class="red">*</span></label>
          <input type="text" class="form-control" minlength="3" maxlength="35" ng-model="vm.provider.nombre" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Nombre Vendedor <span class="red">*</span></label>
          <input type="text" class="form-control" minlength="3" maxlength="35" ng-model="vm.provider.nombre_vendedor" required/>
        </div>
        <div class="col-md-6">
          <label>Telefono</label>
          <input type="text" class="form-control" ng-model="vm.provider.telefono" maxlength="14" ng-keypress="vm.solonumeros($event)"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Dirección: </label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.provider.direccion"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ladda="vm.isloading" type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>

<!--Ver Usuario-->
<div ng-if="vm.status=='ver'">
  <div class="modal-header">
      <Label>Información del Proveedor</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
          <label>Cédula/Rif:</label> <label>{{vm.provider.rif}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Nombre:</label> <label>{{vm.provider.nombre}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Nombre Vendedor:</label> <label>{{vm.provider.nombre_vendedor}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Dirección:</label> <label>{{vm.provider.direccion}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Telefono:</label> <label>{{vm.provider.telefono}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Fecha de Registro:</label> <label>{{vm.provider.created_at}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <label>Ultima actualización:</label> <label>{{vm.provider.updated_at}}</label>
      </div>
    </div>
  </div>
</div>

<!--Actualizar cliente-->
<div ng-if="vm.status=='actualizar'">
  <div class="modal-header">
      <Label>Actualizar Proveedor</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <form ng-submit="vm.save()">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <label>Cédula o Rif <span class="red">*</span></label>
          <div class="row">
              <div class=col-md-4>
                <select class="form-control" ng-model="vm.provider.tipo" ng-options="type.nombre as type.sigla for type in vm.ListType" required>
                  <option>type.sigla</option>
                </select>
              </div>
              <div class ="col-md-9" style="margin-left: -25px;">
                <input type="text" ng-model="vm.provider.rif" ng-change="vm.changeRif()" class="form-control" minlength="5" maxlength="9" required ng-keypress="vm.solonumeros($event)"/>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <label>Nombre <span class="red">*</span></label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.provider.nombre" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Nombre Vendedor <span class="red">*</span></label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.provider.nombre_vendedor" required/>
        </div>
        <div class="col-md-6">
          <label>Telefono</label>
          <input type="text" class="form-control" ng-model="vm.provider.telefono" maxlength="14" ng-keypress="vm.solonumeros($event)"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Dirección: </label>
          <input type="text" class="form-control" minlength="3" maxlength="25" ng-model="vm.provider.direccion"/>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ladda="vm.isloading" type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
