<div>
  <div class="modal-header">
      <Label>Realizar Pagos</label>
      <button type="button" ng-click="vm.cancel()" class="close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body" style="min-height:350px;">
    <div class="row">
      <div class="col-md-3">
        <label>Banco: </label>
      </div>
      <div class="col-md-3">
        <label>Metodo de pago: </label>
      </div>
      <div class="col-md-3">
        <label>Monto a cancelar</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <select ng-disabled="vm.ListType.tipo=='Efectivo'" class="form-control" ng-model="vm.bank.id" ng-options="banco.id as banco.nombre for banco in vm.bank.list" required>
          <option value="">Seleccione</option>
          <option>banco.nombre</option>
        </select>
      </div>
      <div class="col-md-3">
        <select class="form-control" ng-model="vm.ListType.tipo" ng-options="type.id as type.name for type in vm.ListType.lista" required>
          <option>type.name</option>
        </select>
      </div>
      <div class="col-md-4">
        <input class="form-control" type="text" ng-change="vm.changePrecio()" maxlength="25" ng-model="vm.pago" ng-currency currency-symbol="Bs " ng-keypress="vm.solonumeros($event)"/>
      </div>
      <div class="col-md-2">
        <button ng-click="vm.add_pago()"  type="button" uib-tooltip="Agregar pago" class="btn btn-success">
            <i class="fa fa-money"></i>
        </button>
      </div>
    </div>
    <div class="row" style="overflow-y: scroll; min-height:250px; max-height: 250px; overflow-x: hidden">
      <div class ="col-md-1"></div>
      <div class ="col-md-10">
        <table class="table table-striped">
          <thead>
            <tr>
               <th>Tipo</th>
               <th>Monto</th>
               <th>Banco</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pago in vm.listaPagos">
              <td>{{pago.tipo}}</td>
              <td>{{pago.monto | currency:"Bs "}}</td>
              <td>{{pago.banco_name}}</td>
              <td>
                <button
                  type="button"
                  uib-tooltip="Quitar pago"
                  class="btn btn-danger up5"
                  mwl-confirm
                  message="¿Desea descartar el pago?"
                  confirm-text="Si"
                  cancel-text="No"
                  placement="{{ placement }}"
                  on-confirm="vm.deletePago(pago)"
                  on-cancel=""
                  confirm-button-type="danger"
                  cancel-button-type="default">
                    <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Cancelado: {{vm.cancelado | currency:"Bs "}}</h4>
      </div>
      <div class="col-md-6">
        <h4>Diferencia: {{vm.diferencia | currency:"Bs "}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Total: {{vm.total | currency:"Bs "}} </h4>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ladda="vm.isloading" type="button" ng-click="vm.save()" class="btn btn-primary">Guardar</button>
  </div>
</div>
