<div class="panel panel-default">
<!--  <div class="panel-heading">
    <i class="fa fa-shopping-cart"></i>
     Vender
   </div> -->
   <div class="panel-body">
     <div class="row">
       <div class="col-md-9 border-right1  up15"  style="min-height: 520px">
          <div class="row back-cadetblue border-bottom1">   <!-- cliente-->
              <h4 class="right20">
                <i class="fa fa-user font25"></i>
                 Cliente: {{vm.client.nombre}}
                <i ng-if="vm.client.isLoad==true" class="fa fa-check green font25" aria-hidden="true"></i>
              </h4>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-5">
                      <label>Cédula o Rif:</label>
                    </div>
                  </div>
                  <div class="row">
                    <fieldset ng-disabled="vm.btn.pagar==true">
                      <div class=col-md-2>
                        <select class="form-control" ng-disabled="vm.client.isLoad==true" ng-model="vm.client.tipo" ng-options="type.name as type.sigla for type in vm.ListType" required>
                          <option>type.sigla</option>
                        </select>
                      </div>
                      <div class ="col-md-3" style="margin-left: -25px;">
                        <input type="text" ng-readonly="vm.client.isLoad==true" ng-model="vm.client.id" ng-change="vm.changeCedula()" class="form-control" minlength="5" maxlength="9" required ng-keypress="vm.solonumeros($event)"/>
                      </div>
                      <div class="col-md-1" style="margin-left: -25px;">
                        <button ladda="vm.client.loading" ng-click="vm.searchClient()" ng-disabled="vm.client.isLoad==true"  type="button" uib-tooltip="Buscar" class="btn btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                      </div>
                      <div class="col-md-1" style="margin-left: -25px;">
                        <button
                          type="button"
                          uib-tooltip="Cambiar cliente"
                          class="btn btn-primary"
                          mwl-confirm
                          message="¿Esta seguro que desea cambiar de cliente?"
                          confirm-text="Si"
                          cancel-text="No"
                          placement="{{ placement }}"
                          on-confirm="vm.changeClient()"
                          on-cancel=""
                          ng-disabled="vm.client.isLoad==false"
                          confirm-button-type="success"
                          cancel-button-type="default">
                            <i class="fa fa-refresh"></i>
                        </button>
                      </div>
                    </fieldset>
                  </div>
                </div>
          </div>
          <div class="row"> <!--Factura-->
            <fieldset ng-disabled="vm.btn.pagar==true">
              <div class="row">
                <div class="col-md-2">
                  <h4 class="right20">
                    <i class="fa fa-cart-plus font25"></i>
                     Factura
                   </h4>
                </div>
                <div class="col-md-3" style="margin-left:-15px; max-width: 210px;">
                  <input type="text" ng-model="vm.product_search" ng-keypress="vm.search_product($event)" class="form-control down10" maxlength="9"/>
                </div>
              </div>

              <div class="col-md-12">
                <table class="table table-striped">
                  <thead>
                    <tr>
                       <th>Codigo</th>
                       <th>Nombre</th>
                       <th>Cantidad</th>
                       <th>Precio unitario</th>
                       <th>SubTotal</th>
                       <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="detalle in vm.detalles_factura">
                      <td>{{detalle.codigo}}</td>
                      <td>{{detalle.nombre}}</td>
                      <td><input type="number" ng-mouseleave="vm.validarStock(detalle,'leave')" ng-change="vm.validarStock(detalle,'change')" ng-keypress="vm.solonumeros($event)" ng-model="detalle.cantidad" name="quantity" min="1" max="{{detalle.stock}}"></td>
                      <td>{{detalle.precio_venta | currency:"Bs "}}</td>
                      <td>{{detalle.cantidad*detalle.precio_venta | currency:"Bs "}}</td>
                      <td>
                        <button
                          type="button"
                          uib-tooltip="Quitar producto"
                          class="btn btn-danger up5"
                          mwl-confirm
                          message="¿Desea descartar el producto?"
                          confirm-text="Si"
                          cancel-text="No"
                          placement="{{ placement }}"
                          on-confirm="vm.deleteDetail(detalle.codigo)"
                          on-cancel=""
                          confirm-button-type="danger"
                          cancel-button-type="default">
                            <i class="fa fa-trash-o"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </fieldset>
          </div>
       </div>
       <!--Pago-->
       <div class="col-md-3 up15">
         <div class="row border-bottom1 back-cadetblue" style="min-height: 114px;">
           <div class="col-md-12">
             <h4>
               <i class="fa fa-money font25 green"></i>
                Pagos
             </h4>
             <div class="row">
                 <div class=col-md-6>
                   <label>Tipo de pago</label>
                 </div>
             </div>
             <div class="row">
               <fieldset ng-disabled="vm.btn.pagar==false">
                 <div class=col-md-6>
                   <select class="form-control" ng-model="vm.tipos_pago.tipo" ng-options="type.id as type.name for type in vm.tipos_pago.lista" required>
                     <option>type.name</option>
                   </select>
                 </div>
                 <div class=col-md-6>
                   <button ng-click="vm.open_add_pago()"  type="button" uib-tooltip="Agregar pago" class="btn btn-success">
                       <i class="fa fa-plus"></i>
                   </button>
                   <button  type="button" uib-tooltip="Cambiar factura" type="button" class="btn btn-primary" ng-click="vm.backSell()">
                    <i class="fa fa-fast-backward"></i>
                   </button>
                 </div>
               </fieldset>
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-md-12 down5">
             <h4>Lista de pagos</h4>
             <table class="table table-striped">
               <thead>
                 <tr>
                    <th>Tipo</th>
                    <th>Monto</th>
                    <th></th
                 </tr>
               </thead>
               <tbody>
                 <tr ng-repeat="pago in vm.listapagos">
                   <td>{{pago.tipo}}</td>
                   <td>{{pago.monto | currency:"Bs "}}</td>
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="panel-footer back-cadetblue border-top1" style="min-height: 80px; margin-top: -16px;">
     <div class="row">
       <div class="col-md-3">
         <div class="row up10">
           <div class="col-md-12">
             <h4>Total: {{vm.factura.total | currency:"Bs "}}</h4>
           </div>
           <div class="col-md-12">
             <h4>Pagado: {{vm.factura.cancelado | currency:"Bs "}}</h4>
           </div>
         </div>
       </div>
       <div class="col-md-9">
           <div class="pull-right down5">
             <button ng-disabled="vm.btn.pagar==true" ng-click="vm.pagar()"  type="button" uib-tooltip="Pagar" class="btn btn-default btn-sell">
                 <i class="fa fa-money font25 green"></i>
             </button>
             <button ng-click="vm.facturar()" ladda="vm.factura.isloading" ng-disabled="vm.btn.facturar==false"  type="button" uib-tooltip="Facturar" class="btn btn-default btn-sell">
                 <i class="fa fa-floppy-o font25"></i>
             </button>
           </div>
       </div>
     </div>
   </div>
</div>
