<div id="tf-contact" class="text-center">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">

              <div class="section-title center">
                  <h2>Siéntete libre de<strong> contactarnos</strong></h2>
                  <div class="line">
                      <hr>
                  </div>
                  <div class="clearfix"></div>
                  <small><em>Un licor es una bebida alcohólica destilada dulce (o seca), a menudo con sabor a frutas, hierbas, o especias, y algunas veces con sabor a crema. De manera más genérica, en ocasiones se emplea la palabra «licor» para referirse a las bebidas alcohólicas destiladas en general.<br/>
                  La elaboración de los “licores”, entendidos estos de forma genérica como bebidas alcohólicas, se remonta a las primeras etapas de la humanidad, antes del cristianismo, recordemos, por ejemplo, el Banquete de Platón. Pero es realmente a partir de la edad media y sobre todo en el Renacimiento, en donde encontramos tratados, algunos completos otros censurados, que explican su técnica de elaboración, ya fuese motivados por fines medicinales o afrodisíacos. La técnica que se empleaba y se sigue empleando para su elaboración consiste principalmente en el proceso de la fermentación.</em></small>
              </div>
              <form ng-submit="vm.sendMessage()">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label for="exampleInputEmail1"><br/> <br/>Dirección de Correo<span class="red">*</span></label>
                              <input type="email" maxlength="50" ng-model="vm.message.email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese su email" required>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Mensaje<span class="red">*</span></label>
                      <textarea class="form-control" minlength="10" maxlength="250"  ng-model="vm.message.message" rows="3" required></textarea>
                  </div>
                  <button ladda="vm.loadingMsj" type="submit" class="btn tf-btn btn-default">Enviar</button>
              </form>

          </div>
      </div>
</div>
