<div class="absolute-homeText">
    <div class="overlay">

        <div class="content">

        </div>
    </div>
</div>

<h1>Bienvenido a <strong><span class="color">"Comercial Cagüita"</span></strong></h1>
<p class="lead">Somos un negocio de licores <strong>con más de 20 años </strong>de experiencia <strong>con gente extraordinaria</strong></p>


<div uib-carousel active="vm.carousel.active" interval="vm.carousel.myInterval" no-wrap="vm.carousel.noWrapSlides">
  <div uib-slide ng-repeat="slide in vm.carousel.slides" index="slide.id">
    <img ng-src="{{slide.image}}" style="margin:auto; width: 600px; height: 450px;">
    <div class="carousel-caption">
      <h4 style="color:black"><strong>{{slide.titulo}}</strong></h4>
      <p style="color:black">{{slide.descripcion}}</p>
    </div>
  </div>
</div>
