<div class="row">
  <div class="col-md-6">
      <img src="images/02.png" class="img-responsive">
  </div>
  <div class="col-md-6">
      <div class="about-text">
          <div class="section-title">
              <h4>Algunas palabras</h4>
              <h2>Sobre nosotros<strong></strong></h2>
              <hr>
              <div class="clearfix"></div>
          </div>
          <p class="intro">La Licorería Comercial Cagüita F.P (Firma Personal) ubicada en el sector El Guamache, municipio Tubores, Isla de Margarita, Venezuela ya tiene más de veinte años (20) años desde que se creó. nos dedicamos a la venta y expendio de licores.</p>
          <ul class="about-list">
              <li>
                  <span class="fa fa-dot-circle-o"></span>
                  <strong>Mision</strong> - <em>Prestar el mejor servicio de venta de licores con los mejores precios del mercado para satisfacer a toda nuestra clientela</em>
              </li>
              <li>
                  <span class="fa fa-dot-circle-o"></span>
                  <strong>Experiencia</strong> - <em>Trato amable y sugerencias a la hora de vender nuestros productos</em>
              </li>
              <li>
                  <span class="fa fa-dot-circle-o"></span>
                  <strong>Clientes</strong> - <em>Satisfechos gracias a nuestra experiencia en venta de licores y otros productos</em>
              </li>
          </ul>
      </div>
  </div>
</div>
