<div class="panel panel-default">
  <div class="panel-heading">
    <i style="color:red;" class="fa fa-bar-chart"></i>
     Impuesto a la alcadia
  </div>
  <div class="panel-body">
    <form ng-submit="vm.calcularImpuesto()">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-2">
         <label>Año</label>
        </div>
        <div class="col-md-3">
          <label>Porcentaje de impuesto (%)</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h3 ng-if="vm.isLoading==false && vm.isLoaded==true">{{vm.labels.year}}</h3>
        </div>
        <div class="col-md-3">
          <h3 ng-if="vm.isLoading==false && vm.isLoaded==true">{{vm.labels.porcentaje}}%</h3>
        </div>
        <div class="col-md-2">
          <select class="form-control" ng-model="vm.impuesto.year" ng-options="fecha.id as fecha.year for fecha in vm.impuesto.listYear" required>
            <option value="">Seleccione</option>
            <option>{{cuenta.numero}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <input class="form-control" type="number" min="0" max="100" step="0.01" ng-change="vm.changePorcentaje()"
             ng-model="vm.impuesto.porcentaje" ng-keypress="vm.solonumeros($event)" required/>
        </div>
        <div class="col-md-2">
          <button ng-disabled="vm.isLoading==true"  type="submit" uib-tooltip="Buscar" class="btn btn-default">
              <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
     </form>
     <div class="row" ng-if="vm.isLoading==true">
       <div class="col-md-12 text-center" style="font-size:100px" >
         <i class="fa fa-spinner fa-spin"></i>
       </div>
     </div>
     <div ng-if="vm.isLoading==false && vm.isLoaded==true">
       <div class="row">
         <div class="col-md-6">
           <h4>Trimestre 1: 1 de enero - 31 de marzo</h4>
           <div class="row">
             <div class="col-md-1"></div>
             <div class="col-md-10">
               <canvas id="bar" class="chart chart-bar"
                  chart-data="vm.trimestre1" chart-options="vm.options" chart-labels="vm.nombres" chart-series="vm.series">
               </canvas>
             </div>
             <div class="col-md-1"></div>
           </div>
           <div class="row">
             <div class="col-md-6">
               <h5>Ventas: {{vm.impuesto.trimestre1 | currency:"Bs "}}</h5>
             </div>
             <div class="col-md-6">
               <h5>Impuestos: {{vm.impuesto.impuesto1 | currency:"Bs "}}</h5>
             </div>
           </div>
         </div>
         <div class="col-md-6">
           <h4>Trimestre 2: 1 de abril - 30 de junio</h4>
           <div class="row">
             <div class="col-md-1"></div>
             <div class="col-md-10">
               <canvas id="bar" class="chart chart-bar"
                  chart-data="vm.trimestre2" chart-options="vm.options" chart-labels="vm.nombres" chart-series="vm.series">
               </canvas>
             </div>
             <div class="col-md-1"></div>
           </div>
           <div class="row">
             <div class="col-md-6">
               <h5>Ventas: {{vm.impuesto.trimestre2 | currency:"Bs "}}</h5>
             </div>
             <div class="col-md-6">
               <h5>Impuestos: {{vm.impuesto.impuesto2 | currency:"Bs "}}</h5>
             </div>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <h4>Trimestre 3: 1 de julio - 30 de septiembre</h4>
           <div class="row">
             <div class="col-md-1"></div>
             <div class="col-md-10">
               <canvas id="bar" class="chart chart-bar"
                  chart-data="vm.trimestre3" chart-options="vm.options" chart-labels="vm.nombres" chart-series="vm.series">
               </canvas>
             </div>
             <div class="col-md-1"></div>
           </div>
           <div class="row">
             <div class="col-md-6">
               <h5>Ventas: {{vm.impuesto.trimestre3 | currency:"Bs "}}</h5>
             </div>
             <div class="col-md-6">
               <h5>Impuestos: {{vm.impuesto.impuesto3 | currency:"Bs "}}</h5>
             </div>
           </div>
         </div>
         <div class="col-md-6">
           <h4>Trimestre 4: 1 de octubre - 31 de diciembre</h4>
           <div class="row">
             <div class="col-md-1"></div>
             <div class="col-md-10">
               <canvas id="bar" class="chart chart-bar"
                  chart-data="vm.trimestre4" chart-options="vm.options" chart-labels="vm.nombres" chart-series="vm.series">
               </canvas>
             </div>
             <div class="col-md-1"></div>
           </div>
           <div class="row">
             <div class="col-md-6">
               <h5>Ventas: {{vm.impuesto.trimestre4 | currency:"Bs "}}</h5>
             </div>
             <div class="col-md-6">
               <h5>Impuestos: {{vm.impuesto.impuesto4 | currency:"Bs "}}</h5>
             </div>
           </div>
         </div>
       </div>
     </div>
  </div>
</div>
