<div class="panel panel-default">
  <div class="panel-body">
     <div class="jumbotron background-main" style="min-height:500px;">
       <h1 style="margin-top: -50px;">'Bienvenido!</h1>
      <!--  <img src="images/4.jpg" style="width: 160px;height: 140px; border-radius: 50%;" alt="Licoreria">
        <h1>'Bienvenido!</h1>
        <p class="lead">
          Licoreria Caguita.
        </p> -->
        <!--Stock Minimo -->
        <div class="row">
          <div class="col-md-5">
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <div class="row" ng-if="vm.listMin_stock.length>0">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div uib-alert ng-class="'alert-danger'" style="cursor: pointer;" ng-click="vm.openNotification(vm.listMin_stock,'min_stock')">
                  <span ng-if="vm.listMin_stock.length==1"> <strong>{{vm.listMin_stock.length}}</strong> producto está por debajo del stock Mínimo</span>
                  <span ng-if="vm.listMin_stock.length>1"><strong>{{vm.listMin_stock.length}}</strong> productos están por debajo del stock Mínimo</span>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
            <!--Stock Maximo -->
            <div class="row" ng-if="vm.listMax_stock.length>0">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div uib-alert ng-class="'alert-success'" style="cursor: pointer;" ng-click="vm.openNotification(vm.listMax_stock, 'max_stock')">
                  <span ng-if="vm.listMax_stock.length==1"><a><strong>{{vm.listMax_stock.length}}</strong> producto está por encima del stock Máximo </a></span>
                  <span ng-if="vm.listMax_stock.length>1"><strong>{{vm.listMax_stock.length}}</strong> productos están por encima del stock Máximo</span>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
            <!--Lista de facturas de venta con mas de 7 dias-->
            <div class="row" ng-if="vm.listFacturaVenta.length>0" >
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div uib-alert ng-class="'alert-info'" style="cursor: pointer;" ng-click="vm.openNotification(vm.listFacturaVenta,'fact_vent')">
                  <span ng-if="vm.listFacturaVenta.length==1"> <strong>{{vm.listFacturaVenta.length}}</strong> Factura de venta tiene más de 7 días sin cobrar</span>
                  <span ng-if="vm.listFacturaVenta.length>1"><strong>{{vm.listFacturaVenta.length}}</strong> Facturas de venta tienen más de 7 días sin cobrar</span>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
            <!--Lista de facturas de compra con mas de 7 dias-->
            <div class="row" ng-if="vm.listaFacturaCompra.length>0">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div uib-alert ng-class="'alert-warning'" style="cursor: pointer;" ng-click="vm.openNotification(vm.listaFacturaCompra,'fact_comp')">
                  <span ng-if="vm.listaFacturaCompra.length==1"> <strong>{{vm.listaFacturaCompra.length}}</strong> Factura de compra tiene más de 7 días sin pagar</span>
                  <span ng-if="vm.listaFacturaCompra.length>1"><strong>{{vm.listaFacturaCompra.length}}</strong> Facturas de compra tienen más de 7 días sin pagar</span>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
            <div class="row" ng-if="vm.listaMensajes.length>0">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <a ng-href="#/mensajes">
                  <div uib-alert ng-class="'alert-danger'"  style="cursor: pointer;color: #fff;background-color: #337ab7;border-color: #2e6da4;">
                    <span ng-if="vm.listaMensajes.length==1"> <strong>{{vm.listaMensajes.length}}</strong> mensaje sin leer</span>
                    <span ng-if="vm.listaMensajes.length>1"><strong>{{vm.listaMensajes.length}}</strong> mensajes sin leer</span>
                  </div>
                </a>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>

        </div>


      </div>
  </div>
</div>
